
body {
    font-family: roboto, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin: 0;
}

.logo, ul {
    color: #F9FAF8;
    padding: 10px;
    margin: 10px;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: space-around;
    gap: 20px;
    font-size: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-flow: row nowrap;
    padding: 70px 110px;
    gap: px;
    justify-content: center;
}

.hero-header {
    display: flex;
    flex: 1 1 40px;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.cont {
    width: auto;
    margin: 0;
    padding: 0;
}

.frog-image {
    display: flex;
    flex: 1 1 40px;
    padding: 0;
    width: 400px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

button.cont {
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    font-weight: bolder;
}

.random {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    margin-bottom: 30px;
}

.title {
    align-self: center;
    margin: 30px;
}

.box-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}
.object {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}

.box {
    height: 150px;
    width: 150px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 10px;
}

.text {
    width: 150px;
    text-align: center;
}

 .quote-container {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     background: #E5E7EB;
     padding: 70px;
 }

 .quote-text, .sign {
     background: ;
     text-align:left;
     width: 500px;
     font-style: italic;
     font-size: 20px;
     width: 700px;
     padding: 0;
     margin: 5px;;
 }
 .quote-text {
     font-size: 28px;
 }

 .sign {
    text-align:end;
    font-style: normal;
    font-weight: bolder;
}

.signup {
    background: #F9FAF8;
    display: flex;
    justify-content: center;
}

.signup-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 600px;
    background: #3882F6;
    align-items: center;
    padding: 0 50px;
    border-radius: 5px;
    margin: 50px;
}

.call-to {
    background:3882F6;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.signup-text1, .signup-text2 {
    margin:0;
    padding: 0;
    color:#F9FAF8
}

.signup-text1 {
    margin: 0;
    padding-top: 20px;
    font-weight: bolder;
}

.signup-text2 {
    padding-bottom: 20px;
    font-size: 12px;
}

.signup-btn {
    margin: 0;
    color: #F9FAF8;
    background: #3882F6;
    border-radius: 5px;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    padding: 5px 25px;
    font-weight: bolder;
}

.footer {
    background: #1F2937;
    display: flex;
    justify-content: center;
}
h5 {
    color: #F9FAF8;
}


